$bg-color: #f7f7f7;
$bg-color-sec: #ffffff;

$primary_color: #07a2f0;
$primary_color-50: #f0f9ff;
$primary_color-100: #dff1ff;
$primary_color-200: #b8e5ff;
$primary_color-300: #79d1ff;
$primary_color-400: #20b4fe;
$primary_color-600: #0081cd;
$primary_color-700: #0066a6;
$primary_color-800: #035789;
$primary_color-900: #094871;
$primary_color-950: #062d4b;
$primary_color-light: #07a2f062;

$text_color-white: #ffffff;
$text_color-black: #282828;
$text_color-grey: #383d46;

$negative-color: red;
$positive-color: green;

$focus_ring: 0 0 0 1px $primary_color-300;

$maskbg: #00000026;
$shadow_color: #00000029;