@import '../../../variables';

.dashboard {
    display: flex;
    height: 100%;
    min-height: 100vh;
    background-color: $bg-color-sec;

    .dashboard__sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0 1rem 1rem;
        width: 17rem;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;

        .dashboard__logo {
            display: flex;
            justify-content: center;
            margin: 2rem 0;

            img {
                height: auto;
                width: 90%;
            }
        }

        .dashboard__nav {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            div {

                display: flex;
                flex-direction: column;
                gap: 1rem;

                button {
                    width: 100%;
                    text-align: start;
                    font-size: 1.2rem;

                    &.active {
                        background: $primary_color;
                        color: $primary_color-100;
                    }
                }
            }
        }
    }

    .dashboard__main {
        padding: 1rem;
        width: 100%;
        width: calc(100% - 17rem);
        margin-left: 17rem;

        .dashboard__main-container {
            display: flex;
            flex-direction: column;
            border-radius: 2rem;
            background-color: $primary_color-100;
            padding: 1.5rem;
            height: 100%;
            max-height: 100%;

            .dashboard__main--header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 2rem;

                .dashboard__main--header__label {

                    h2 {
                        height: 100%;
                        margin: 0;
                        color: $primary_color-800;
                    }
                }

                .dashboard__main--header__user {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;

                    .p-avatar,
                    i {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}